@charset "utf-8";


*{
    box-sizing: border-box;
}

.background
{
    height:100vh;
    background-image: url('dankook.jpg');
    background-position:center;
    background-size:cover;
}
.text
{
    @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 2em;
    text-align: justify;
    color:black;
    display:flex;
    z-index: 1;
}
.logotext{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: default;
}
